.Menu-Items {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(140, 140, 140);
}

.Menu-Items button {
  flex-basis: 30%;
  height: 3.5rem;
}
