.App {
  display: flex;
  flex-direction: column;

  /* display: grid;
  grid-template-rows: 3rem 1fr 2rem;
  grid-template-areas:
    'TopBar'
    '.Main.'
    'InfoBar';
  justify-content: center; */
  height: 100vh;
  max-height: 100vh;
}

.App > * {
  width: 100vw;
}

.App section {
  flex: 1 1 100%;
  /* grid-column: 1 / 2;
  grid-row: 2 / 3; */
}
