.Menu nav {
  padding: 0.5rem;
  background-color: rgb(66, 66, 66);
}

.Menu-Section-Bar {
  display: flex;
  /* margin: 0.5rem 1rem; */
  width: 100%;
}

.Menu-Section-Bar button {
  font-size: larger;
  font-weight: bold;
  color: rgb(200, 200, 200);
  flex-basis: 100%;
}

.Menu-Section-Bar .active {
  filter: brightness(70%);
}
